<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-3 g-4 container m-5">
        <% if(data.length>0){ %>
            <% for(let i=0; i<data.length; i++){ %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= data[i].date %></h5>
              <p class="card-text"><%= data[i].todo %></p>
              <p>
                <button class="btn btn-danger m-1"><i class="material-icons">delete</i></button>
                <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
              </p>
            </div>
          </div>
        </div>
        <%}%>
        <%}%>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>